body, ul, ol, dl, dd, p, h1, h2, h3, h4, h5, h6, input, textarea, hr, div, em, strong {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

html {
    font-size: 26.67vw;
}

.one{
    width: 100%;
    height: 0.25rem;
    display: flex;
}
.one img{
    width: 100%;
    height: 0.25rem;
    top: 0;
}
.two{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    background: rgb(245, 245, 245);
    height: 0.35rem;

}
.three{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    background: rgb(250, 250, 250);
    height: 1rem;
    border-bottom: 1px solid rgb(205, 205, 205);
    border-top: 1px solid rgb(205, 205, 205);
}
.twoimg2{
    width: 8%;
    height: 0.25rem;
}
.twop1{
    font-size: 0.18rem;
    font-weight: 600;
    position: relative;
    left: 0.43rem;
}
.twop2{
    font-size: 0.18rem;
    color:rgb(147, 147, 147)
}
.twoimg3{
    width: 3%;
    height: 0.17rem;
    position: relative;
    left: 0.15rem;
}
.twoimg4{
    width: 7%;
    height: 0.25rem;
}
.twoimg5{
    width: 5%;
    height: 0.22rem;
    position: relative;
    left: 0.18rem;
    top: 0.01rem
;
}
.threeimg6{
    width: 75%;
    height: 0.7rem;
    /* margin-left: 2rem; */
    margin-top: 0.09rem;
    position: relative;
    right: 39px;
}
.four{
    display: flex;
}
.six{
    display: flex;
}
.six-1{
    display: flex;
}
.six-1-img1{
    width: 15%;
    margin: 0.1rem;}
.therr{}
.therr a{
    font-size: 0.12rem;
    height: 0.02rem;
    position: relative;
    top: 0.77rem;
    right: 2.77rem;
    width: 2.8rem;

}
.six-1-txt1{
    font-size: 0.15rem;
    color: rgb(248, 103, 19);
    height: 0.2rem;
    position: relative;
    top: 14px;
}
.water{
    height: 0.27rem;
    width: 1.1rem;
    margin-left: 0.59rem;
    margin-top: 0.1rem;
}
.txt2{
    font-size: 0.11rem;
    color: rgb(147, 147, 147);
    /* width: 173px; */
    height: 20px;
    position: absolute;
    top: 2.02rem;
    left: 0.76rem;
}
.txt3{
    font-size: 0.11rem;
    color: rgb(15, 14, 14);
    /* width: 173px; */
    height: 20px;
    position: absolute;
    top: 140px;
    left: 15px;
}
.txt4{
    font-size: 0.11rem;
    color: rgb(15, 14, 14);
    /* width: 173px; */
    height: 20px;
    position: absolute;
    top: 140px;
    left: 85px;
}
.txt5{
    font-size: 0.11rem;
    color: rgb(15, 14, 14);
    /* width: 173px; */
    height: 20px;
    position: absolute;
    top: 140px;
    left: 165px;
}
.txt6{
    font-size: 0.11rem;
    color: rgb(15, 14, 14);
    /* width: 173px; */
    height: 20px;
    position: absolute;
    top: 140px;
    left: 230px;
}
.text{
    font-size: 0.15rem;
    margin-left: 20px;

}
.footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.footer img{
    width: 7%;
    padding-top: -34px;
    margin-top: -24px;
}
.footer2{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.footer2 a{
    width: 7%;
    font-size: 0.11rem;
    padding-top: -34px;
    margin-top: -1px;
    margin-left: 3px;
    color: black;
}
a:hover{
    color: lightpink;
}